.upper {
    display:flex;
    flex:1;
    flex-direction: row;
    font-size: 18px;
    height: 75px;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 4rem;
    padding-right: 100px;
    color: white;
    padding-top: 15px;
  
}

.first {
    font-size: 24px;
    margin-right: auto;
    display:inline-block;
    margin-left:100px;
    
}

.b1 {
    display: grid;
    font-size: 48px;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    column-gap: 5px;
    padding-right: 50px;
    padding-top: 100px;
   color: white;
   padding-bottom: 100px;

    
    
    
  

}



.im1{
    margin-left: 100px;
    

}

.one{
  
    margin-left: 150px;
    padding: 0;
    
   
   

    
    
   
}

.sec {
    font-size: 18px;
    align-items: top;
    
}

p {
    margin: 0px;
    padding: 0px;
    color: white;
 }

.b2{
    font-size: 18px;
    display: inline-block;
    margin-right: 100px;
    margin-top: 10px;
    padding: 5px 25px ;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    border: 0;
    
    
}

body {
    background-color: #1F2937;
    margin: 0;
}


.bottom{
    
    background-color: white;
    
    
    
}



.h2{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    padding-top: 50px;
    

}

.box1,.box2,.box3,.box4{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}

.row1{
    display: flex;
    padding-top: 30px;
    gap: 5rem;
    justify-content: center;
    
    
}

.text1,.text2,.text3,.text4{
    color: black;
    width:150px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    

}

.boxtxt{
    display: flex;
    justify-content: center;
    gap: 8rem;

    
}
